<!-- computers_fields.html -->
<div>
    <label>Type:</label>
    <input type="text" name="type_computer" placeholder="Type">
</div>
<div>
    <label>Brand:</label>
    <input type="text" name="brand_computer" placeholder="Brand">
</div>
<div>
    <label>Model:</label>
    <input type="text" name="model_computer" placeholder="Model">
</div>
<div>
    <label>Year:</label>
    <input type="number" name="year_computer" placeholder="Year">
</div>
<div>
    <label>Processor:</label>
    <input type="text" name="processor_computer" placeholder="Processor">
</div>
<div>
    <label>RAM:</label>
    <input type="text" name="ram_computer" placeholder="RAM">
</div>
<div>
    <label>Storage:</label>
    <input type="text" name="storage_computer" placeholder="Storage">
</div>
<div>
    <label>Graphics Card:</label>
    <input type="text" name="graphics_card" placeholder="Graphics Card">
</div>
<div>
    <label>Operating System:</label>
    <input type="text" name="operating_system_computer" placeholder="Operating System">
</div>
