<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>
<body>
    <h1>Verification</h1>
    <form action="/verify" method="POST">
        <label for="verification_code">Verificationn Codee:</label><br>
        <input type="text" id="verification_code" name="verification_code" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
